<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ezen.dao.IcartDAO">

	<select id="getCartIsDone">
		SELECT * FROM MALL_CART WHERE USER_IDX = #{user_idx) AND CART_ISDONE=0
	</select>

	<select id="getNumberOfCartIsNotDone">
		SELECT COUNT(*) FROM MALL_CART WHERE USER_IDX = #{user_idx} AND CART_ISDONE = 1
	</select>
	
	<select id="getCartIsNotDone">
		SELECT * FROM MALL_CART WHERE USER_IDX = #{user_idx) AND CART_ISDONE=1
	</select>
	
</mapper>