<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ezen.dao.IfaqDAO">

	<select id="getFaqList" resultType="com.ezen.dto.FaQ">
		SELECT * FROM mall_faq ORDER BY faq_idx DESC
	</select>
	
	<select id="getFaqListByCat" resultType="com.ezen.dto.FaQ">
		SELECT * FROM mall_faq WHERE faq_cat LIKE #{faq_cat} ORDER BY faq_idx DESC
	</select>
	
	<insert id="FaqWrite" parameterType="com.ezen.dto.FaQ">
		INSERT INTO mall_faq (faq_idx, faq_title, faq_contents, faq_cat)
		VALUES (mall_faq_seq.nextval, #{param1}, #{param2}, #{param3})
	</insert>
	
	<delete id="faqDeleteByFaqIdx">
		DELETE FROM mall_faq WHERE faq_idx=#{faq_idx}
	</delete>

</mapper>