<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ezen.dao.IgoodsDAO">
	
	<!-- 썸네일 가져오기 -->
	<select id="getGoodsThumb" resultType="String">
		SELECT goods_thumb FROM MALL_GOODS WHERE goods_idx = #{goods_idx}
	</select>

</mapper>