<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ezen.dao.IquestionDAO">

	<select id="getQuestionList" resultType="com.ezen.dto.Question">
		SELECT * FROM mall_question WHERE goods_idx = ${param1} ORDER BY question_idx DESC
	</select>
	
	<insert id="insertQna" parameterType="com.ezen.dto.Question">
		INSERT INTO mall_question (question_idx, user_idx, goods_idx, question_title, question_contents, question_date)VALUES
		(mall_question_seq.nextval, ${user_idx}, ${goods_idx}, #{question_title}, #{question_contents}, sysdate)
	</insert>
	
	<update id="updateQnaAnswer" parameterType="com.ezen.dto.Question">
		UPDATE mall_question SET question_isreplied= 1, question_reply=#{parma2},
		question_reply_date=sysdate WHERE question_idx=${parma1}
	</update>
	
	<select id="getAllQuestions" resultType="com.ezen.dto.Question">
		SELECT * FROM mall_question
	</select>
	
</mapper>