<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ezen.dao.IquestionDAO">

	<select id="getQuestionList" resultType="com.ezen.dto.Question">
		SELECT * FROM mall_question ORDER BY question_idx DESC
	</select>
	
	<insert id="insertQna" parameterType="com.ezen.dto.Question">
		INSERT INTO mall_question VALUES
		(mall_question_seq.nextval, #{user_idx}, #{goods_idx}, #{question_title}, #{question_contents}, sysdate, 0, null, null)
	</insert>
	
	<update id="updateQnaAnswer" parameterType="com.ezen.dto.Question">
		UPDATE mall_question SET question_isreplied=#{question_isreplied}, question_reply=#{question_reply},
		question_reply_date=sysdate WHERE question_idx=#{question_idx}
	</update>
	
</mapper>