
application.properties
.DS_Store

### Eclipse ###

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.gradle
ezen1/.gradle/7.4/executionHistory/executionHistory.bin
ezen1/.gradle/7.4/executionHistory/executionHistory.lock
ezen1/.gradle/7.4/fileHashes/fileHashes.bin
ezen1/.gradle/7.4/fileHashes/fileHashes.lock
ezen1/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ezen1/.gradle/7.4/checksums/checksums.lock
ezen1/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
ezen1/.gradle/7.4/executionHistory/executionHistory.lock
ezen1/.gradle/7.4/fileHashes/fileHashes.lock
ezen1/.gradle/buildOutputCleanup/buildOutputCleanup.lock
